
/* tabs */
.tab-container{
  width:100%;
  ul.tab-list{
    list-style-type:none;
    margin:0;
    background-color: #0D2051;
    padding:0;
    width:100%;
    display:table;
    li{
      display:table-cell;
      height:35px;
      text-align:center;
      vertical-align:middle;
      background-color: #0D2051;
      a{
        text-decoration:none;
        align-items: center;
        justify-content: center;
        font-size:14px;
        color:$inactive_blue;
      }
      span{
        text-align: center;
        align-items: center;
        padding-bottom: 11px;
      }
    }



    /* one item */
    li:nth-child(1):nth-last-child(1) {
      width: 100%;
    }

    /* two items */
    li:nth-child(1):nth-last-child(2),
    li:nth-child(2):nth-last-child(1) {
      width: 50%;
    }

    /* three items */
    li:nth-child(1):nth-last-child(3),
    li:nth-child(2):nth-last-child(2),
    li:nth-child(3):nth-last-child(1) {
      width: 33.3333%;
    }

    /* four items */
    li:nth-child(1):nth-last-child(4),
    li:nth-child(2):nth-last-child(3),
    li:nth-child(3):nth-last-child(2),
    li:nth-child(4):nth-last-child(1) {
      width: 25%;
    }

    li.active{
      border:none;
      height: 100%;
      a{
        color: $ScoreBoxWhite;
      }
      span{
        border-bottom: 2px solid #fff;
    }
    }
  }
  .tab-content{
    width:100%;
    .tab-pane{
      display:none;
      width:100%;
    }
    .active{
      height: 100%;
      display: block;
      table{
        height: 100%;
      }
    }
  }
}

/* badges */

.badges-clock-stopped,
.badges-empty-net,
.badges-empty-net-over,
.badges-goal-missed-home,
.badges-goal-missed-away,
.badges-goal-home,
.badges-goal-away,
.badges-overtime,
.badges-overtime-end,
.badges-period-end-1st,
.badges-period-end-2nd,
.badges-period-end-3rd,
.badges-period-start,
.badges-status,
.badges-suspension-2,
.badges-suspension-4,
.badges-suspension-5,
.badges-suspension-10,
.badges-suspension-over-home,
.badges-suspension-over-away,
.badges-time-out,
.badges-time-out-over,
.badges-penalty-home,
.badges-penalty-away
{ background-size: 100% 100%; display: inline-block; overflow: hidden; text-indent: -9999px; text-align: center; }

.badges-clock-stopped {background: url('../newimages/Badges/clock_stopped.png') no-repeat; background-size: 100% auto; width: 67px; height: 83px;}
.badges-empty-net {background: url('../newimages/Badges/empty_net.png') no-repeat; background-size: 100% auto; width: 114px; height: 80px;}
.badges-empty-net-over {background: url('../newimages/Badges/empty_net_over.png') no-repeat; background-size: 100% auto; width: 114px; height: 80px;}
.badges-goal-missed-home {background: url('../newimages/Badges/goal_missed_team_1.png') no-repeat; background-size: 100% auto; width: 43px; height: 40px;}
.badges-goal-missed-away {background: url('../newimages/Badges/goal_missed_team_2.png') no-repeat; background-size: 100% auto; width: 43px; height: 40px;}
.badges-goal-home {background: url('../newimages/Badges/goal_team1.png') no-repeat; background-size: 100% auto; width: 60px; height: 27px;}
.badges-goal-away {background: url('../newimages/Badges/goal_team2.png') no-repeat; background-size: 100% auto; width: 60px; height: 27px;}
.badges-overtime {background: url('../newimages/Badges/overtime.png') no-repeat; background-size: 100% auto; width: 67px; height: 83px;}
.badges-overtime-end {background: url('../newimages/Badges/overtime_end.png') no-repeat; background-size: 100% auto; width: 67px; height: 83px;}
.badges-period-end-1st {background: url('../newimages/Badges/period_end_1st.png') no-repeat; background-size: 100% auto; width: 67px; height: 83px;}
.badges-period-end-2nd {background: url('../newimages/Badges/period_end_2nd.png') no-repeat; background-size: 100% auto; width: 67px; height: 83px;}
.badges-period-end-3rd {background: url('../newimages/Badges/period_end_3rd.png') no-repeat; background-size: 100% auto; width: 67px; height: 83px;}
.badges-period-start {background: url('../newimages/Badges/period_start.png') no-repeat; background-size: 100% auto; width: 67px; height: 83px;}
.badges-status {background: url('../newimages/Badges/Status.png') no-repeat; background-size: 100% auto; width: 106px; height: 83px;}
.badges-suspension-2 {background: url('../newimages/Badges/suspension2.png') no-repeat; background-size: 100% auto; width: 93px; height: 67px;}
.badges-suspension-4 {background: url('../newimages/Badges/suspension4.png') no-repeat; background-size: 100% auto; width: 179px; height: 67px;}
.badges-suspension-5 {background: url('../newimages/Badges/suspension5.png') no-repeat; background-size: 100% auto; width: 93px; height: 67px;}
.badges-suspension-10 {background: url('../newimages/Badges/suspension10.png') no-repeat; background-size: 100% auto; width: 93px; height: 67px;}
.badges-suspension-over-home {background: url('../newimages/Badges/suspensionover-team1.png') no-repeat; background-size: 100% auto; width: 100px; height: 77px;}
.badges-suspension-over-away {background: url('../newimages/Badges/suspensionover-team2.png') no-repeat; background-size: 100% auto; width: 100px; height: 77px;}
.badges-time-out {background: url('../newimages/Badges/time_out.png') no-repeat; background-size: 100% auto; width: 67px; height: 83px;}
.badges-time-out-over {background: url('../newimages/Badges/time_out_over.png') no-repeat; background-size: 100% auto; width: 67px; height: 83px;}
.badges-penalty-home {background: url('../newimages/Badges/penaltyshot-team1.png') no-repeat; background-size: 100% auto; width: 417px; height: 35px;}
.badges-penalty-away {background: url('../newimages/Badges/penaltyshot-team2.png') no-repeat; background-size: 100% auto; width: 417px; height: 35px;}