/*********************
Custom Skybet font
*********************/

@font-face {
  font-family: 'SkyText-Bold';
  src: url('fonts/SkyText-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SkyText-Bold.woff') format('woff'), url('../fonts/SkyText-Bold.woff2') format('woff2'), url('../fonts/SkyText-Bold.ttf')  format('truetype'), url('../fonts/SkyText-Bold.svg#SkyText-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SkyText-Regular';
  src: url('../fonts/SkyText-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/SkyText-Regular.woff') format('woff'), url('../fonts/SkyText-Regular.woff2') format('woff2'), url('../fonts/SkyText-Regular.ttf')  format('truetype'), url('../fonts/SkyText-Regular.svg#SkyText-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SkyText-Italic';
  src: url('../fonts/SkyText-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/SkyText-Italic.woff') format('woff'), url('../fonts/SkyText-Italic.woff2') format('woff2'), url('../fonts/SkyText-Italic.ttf')  format('truetype'), url('../fonts/SkyText-Italic.svg#SkyText-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SkyTextMedium-Regular';
  src: url('../fonts/SkyTextMedium-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/SkyTextMedium-Regular.woff') format('woff'), url('../fonts/SkyTextMedium-Regular.woff2') format('woff2'), url('../fonts/SkyTextMedium-Regular.ttf')  format('truetype'), url('../fonts/SkyTextMedium-Regular.svg#SkyTextMedium-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Icon fonts */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?7o9wxg');
  src:  url('../fonts/icomoon.eot?7o9wxg#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?7o9wxg') format('truetype'),
  url('../fonts/icomoon.woff?7o9wxg') format('woff'),
  url('../fonts/icomoon.svg?7o9wxg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-darts:before {
  content: "\e900";
  color: #959db2;
}
.icon-comment-icon:before {
  content: "\e901";
  color: #FFFFFF;
}
.icon-dartboard-icon:before {
  content: "\e902";
  color: #959db2;
}
.icon-info:before {
  content: "\e903";
  color: #959db2;
}
.icon-stats:before {
  content: "\e904";
  color: #959db2;
}

body {


  font-family: SkyMedium,Arial,sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;



  /*
    font-family: 'Sky Text',"Helvetica Neue",sans-serif;;
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  */
}