/*********************
Global Styles
*********************/

body {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  border: 0;
  //font-family: Verdana,Geneva,sans-serif;
}

#progress_bar {
  height: 56px;
  background-color: $header;
  margin: 0;
  position: relative;
  text-align: center;
  //padding-left: 500px;
  img{
    display: block;
    position: absolute;
    left: calc(50% - 40px);
    top: 16px;
    height: 24px;
    margin: 0 auto;
  }
  .loading {
    position: absolute;
    left:calc(50% - 162px);
    color: $white;
    float: left;
    line-height: 24px;
    padding-left: 16px;
    padding-right: 8px;
    margin-top: 16px;
  }
  .spinner {
    position: absolute;
    top:8px;
    left:calc(50% - 86px);
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  .spinner > div {
    background-color: $icon_tab_active;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
  }
  @keyframes sk-stretchdelay {
    0%, 40%, 100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% {
         transform: scaleY(1.0);
         -webkit-transform: scaleY(1.0);
       }
  }
}

#main-wrapper{
  img, a, p,span, div{
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  img, a, p,span, div{
    cursor:default;
  }
}

#scoreboard_holder {
  padding: 0;
  margin: 0;
  width: 100%;
  min-width: 320px;
  border: 0;
  display:none;
  background-color: $dark_blue;
}

.top{
  height: 100%;
  overflow: hidden;
}

.centre-row{
  display: flex;
  width:100%;
}

@media only screen and (min-width: 768px) {
  #scoreboard {
    height: 435px;
  }
  .top{
    height: 157px;/*254*/
  }
  //.main{
  //  height: 278px;
  //}
  //.left{
  //  width: calc(100% - 355px);
  //  display: inline-block;
  //  height: 278px;
  //}
  //.right{
  //  width: 355px;
  //  display: inline-block;
  //  height: 278px;
  //}
}