.left{
  display: none;
}

.stats{
  height: 224px;
  width:100%;
  padding:0 8px 0 8px;
  .tab-list{
    height:43px;
    border-top: 1px solid rgba(255,255,255,.3);
    border-bottom: 1px solid rgba(255,255,255,.3);
    li{
      height:41px;
    }
  }
}
.tab-content{
  width:100%;
  height:calc(100% - 43px);
  border-bottom: 1px solid rgba(255, 255, 255, .3);
  padding-bottom: 15.2px;
}
.tab-pane{
  width:100%;
  height:100%;
}
#stats-total,
#stats-1,
#stats-2,
#stats-3
{
  width:100%;
  height:100%;
  .feed-box {
    div {
      div:first-child {
        padding-left: 15px;
      }
    }
    .top-row {
      height: 39px;
      div {
        vertical-align: top;
        align-self: auto;
        font-size: 14px;
        overflow: hidden;
        height: 100%;
        padding: 19px 5px 0px 0px;
        display: inline-block;
      }
      .lead {
        color: $white;
        font-family: 'Sky Text', "Helvetica Neue", sans-serif;
        max-width: calc(100% - 160px);
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .lead-text {
        padding-right: 0;
        color: $white;
        font-family: 'Sky Text', "Helvetica Neue", sans-serif;
      }
      .score {
        color: $latestScoreYellow;
        font-family: 'Sky Text', "Helvetica Neue", sans-serif;
      }
    }
    .bottom-row {
      height: 16px;
      div {
        vertical-align: top;
        height: 16px;
        font-size: 14px;
        padding-right: 5px;
        display: inline-block;
        overflow-x: hidden;
      }
      .scoring-play {
        color: $white;
        font-family: 'Sky Text', "Helvetica Neue", sans-serif;
        max-width: calc(100% - 135px);
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .scoring-type {
        color: $white;
        font-family: 'Sky Text', "Helvetica Neue", sans-serif;
      }
    }
  }
  .bottom{
    display: block;
    position:relative;
    height: 56px;
    border-top:1px solid rgba(255, 255, 255, .3);
  }

  .latest-comment{
    height:50px;
    display: flex;
    align-items: center; /* align vertical */
    color: $yellow;
    font-size:14px;
    width: 100%;
    width: calc(100% - 140px);
    padding-left: 8px;
    position:absolute;
    left:0;
  }
  .total-view-switch{
    list-style-type: none;
    display: inline-block;
    margin:0;
    padding: 0;
    width:130px;
    position:absolute;
    right:0;
    li{
      position:absolute;
      right:0;
      display: none;
      bottom: -49px;
      height:50px;
      line-height: 50px;
      font-size:14px;
      padding-right:24px;
      cursor: pointer !important;
      cursor: hand !important;
      color:$white;
      opacity: 0.56;
      span{
        line-height: 46px;
        font-size:21px;
        margin-left:4px;
      }
      .icon-comment-icon:before {
        color:#fff;
        opacity: 0.56;
      }
    }
    li.active{
      display: inline-block;
      padding-right:8px;
    }
    li:nth-child(2){
      opacity: 1;
      .icon-comment-icon:before {
        opacity: 1;
      }
    }
  }
}

.stats-table{
  width:100%;
  //margin-top: 1px;
  margin-bottom:1px;
  tr{
    height:30px;
    td{
      width:50%;
      .label{
        width:100%;
        font-size:12px;
        display: flex;
        align-items: center;
        justify-content: center;
        color:$cloudyBlue;
        font-family: 'SkyTextMedium-Regular';
      }
    }
    td:nth-child(1){
      .barFrame {
        padding: 4px 16px 4px 8px;
      }
    }
    td:nth-child(2){
      .barFrame {
        padding: 4px 7px 4px 16px;
      }
    }
  }
  tr:nth-child(1){
    td{
      .label{
        margin-top: 13px;
        margin-bottom:4px;
      }
    }
  }
  tr:nth-child(2){
    td{
      .label{
        margin-top: 11px;
        margin-bottom:4px;
      }
    }
  }
  tr:nth-child(3){
    td{
      .label{
        margin-top: 9px;
        margin-bottom:4px;
      }
    }
  }
}

.barFrame{
  width:100%;
  .bar{
    width:100%;
    height:20px;
    background-color:$red;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow:hidden;
    position:relative;
    .leftBar{
      position:absolute;
      width:50%;
      height:100%;
      background-color:$blue_hover;
    }
    .leftResult{
      position:absolute;
      left:0;
      height:100%;
      font-size: 12px;
      display: flex;
      align-items: center;
      padding-left:8px;
    }
    .rightResult{
      right:0;
      position:absolute;
      height:100%;
      font-size: 12px;
      display: flex;
      align-items: center;
      padding-right:8px;
    }
  }
}

@media only screen and (min-width: 668px) {
  .left {
    display: inline-block !important;
    width: calc(100% - 355px);
  }

  .stats{
    height: 275px;
    width:100%;
    padding:0 16px 0 16px;
    .tab-list{
      height:46px;
    }
  }
}

.info{
  display:none;
  height: 275px;
  width:calc(100% - 16px);
  margin:0 8px 0 8px;
  .tab-content{
    height:181px;
  }
  table{
    width:100%;
    margin-top:7px;
    tr{
      td{
        padding-top:8px;
        font-size:14px;
      }
      td:nth-child(1){
        width:40%;
        padding-left:8px;
      }
      td:nth-child(2){
        width:15%;
        text-align:center;
      }
      td:nth-child(3){
        width:15%;
        text-align:center;
      }
      td:nth-child(4){
        width:15%;
        text-align:center;
      }
      td:nth-child(5){
        width:15%;
        text-align:center;
      }
    }
    tr:nth-child(1){
      height:34px;
      td{
        font-size:12px;
        color:$cloudyBlue;
      }
    }
    tr:nth-child(2){
      height:40px;
    }
    tr:nth-child(3){
      height:40px;
    }
    tr.winner{
      td{
        color:$yellow;
      }
    }
  }
  .bottom{
    display: block;
    position:relative;
    height: 40px;
    border-top:1px solid rgba(255, 255, 255, .3);
  }

  .latest-comment{
    height:50px;
    display: flex;
    align-items: center; /* align vertical */
    color:$yellow;
    font-size:14px;
    width: calc(100% - 140px);
    padding-left: 8px;
    position:absolute;
    left:0;
  }
  .info-view-switch{
    list-style-type: none;
    display: inline-block;
    margin:0;
    padding: 0;
    width:130px;
    position:absolute;
    right:0;
    li{
      position:absolute;
      right:0;
      display: none;
      bottom: -49px;
      height:50px;
      line-height: 50px;
      font-size:14px;
      padding-right:24px;
      cursor: pointer !important;
      cursor: hand !important;
      color:$white;
      opacity: 0.56;
      span{
        line-height: 46px;
        font-size:21px;
        margin-left:4px;;
      }
      .icon-comment-icon:before {
        color:$white;
        opacity: 0.56;

      }
    }
    li.active{
      display: inline-block;
      padding-right:8px;
    }
    li:nth-child(2){
      opacity: 1;
      .icon-comment-icon:before {
        opacity: 1;
      }
    }
  }
}



