$white:             #ffffff;
$black:             #000000;
$dark_blue:         #00143c;  /* like main background           new */
$blue:              #00143C;  /* right column background        new */
$stats_background:  #0d2046;  /* new */
$timeline_background:#0d2046; /* new */
$inactive_blue:		#96a3c4;  /* like shadow borders and disabled links   new */
$disabled_blue:		#66728A;  /* like shadow borders and disabled links   new */

$medium_blue:       #0c4b83;/*like tabs content*/
$light_blue:        #007ABC;/*like on loading strip*/


$light_green:       #27b037;
$cyan:              #00ded3; /* new */
//$yellow:            #ffd503;
$yellow:            #faff05;
$black_box_border:  #122853;

//new ones - get authorised
$very_light_blue:   #DEE4E9;  //tabs
//$medium_blue:       #124C83;  //stats
$background_blue:   #06437D;  //stats background
$navy_blue:         #14314B;  //bottom strip
$tabs_text_blue:    #0A4179;  //tabs text
$faded_text:        #A6B4CA;  //stats labels
$scoreboard_orange: #FED230;  //scoreboards
$nav_bar_blue:      #14324A;  //bottom navigation bar
$faded_orange:      #A3851B;  //faded scoreboards
$blackboard_grey:   #D1D3D3;  //border for primary blackboards
$blackboard_d_grey: #A8A8AD;  //border for secondary blackboards
$faded_yellow:      #cccc2c;  //faded text on scoreboard


// New design colours
$ScoreBoxWhite:       #ffffff;
$icon_tab_active:     #235BB5;
$cloudyBlue:          #cdd9e2;
$header:              #153F8E;
$icon_tab_active:     #235BB5;
$SkyBetBlue:          #235BB5;
$SkyBetRed:           #D92231;
$latestScoreYellow:   #ffe600;
$red:                 #D92231;
$blue_hover:          #1E58C4;