*{
  font-family: 'SkyTextMedium-Regular';
}

.right{
  display: block;
  width: 100%;
  overflow: hidden;
}

// Scoreboard
.scoreboard{
  height: 224px;
}

.board-background {
  position: relative;
  background: url('../images/skybet_icehockey_background+overlay.jpg') 50% 50% no-repeat;
  background-size: cover;
  height: 218px;
  margin: 0 15px;
  border-radius: 5px;
  min-width: 272px;
}

.animations{
  position: absolute;
  display: block;
  width: 100%;
}

.main-pitch{
  width: 272px;
  height: 193px;
  background: url("../images/icehockey_vector_rink+overlay.svg");
  background-size: 100% 100%;
  overflow: hidden;
  margin: 6px auto auto;
}

.possession{
  display: none;
}

.possession-overlay-home,
.possession-overlay-away{
  top: 1px;
  width: 219px;
  height: 100%;
  background: url('../images/icehockey_possession_overlay.png');
  background-size: 218px 159px;
  background-repeat: no-repeat;
  margin: 17px 0 0 49px;
}

.possession-overlay-home{
  display: block;
  right: 2px;
  margin-left: 2px;
  transform: scaleX(-1);

  //// Arrow movement
  x-transition: all 1s ease-in-out;
  animation: ani-away 1.7s infinite;

  @keyframes ani-away {
    0% {
      //right: 35px;
      opacity: 1;
    }
    50% {
      //right: 38px;
      opacity: 0.6;
    }
    100% {
      opacity: 1;
      //right: 35px;
    }
  }
}

.possession-overlay-away{
  display: block;
  //right: 51px;
  margin-left: 51px;
  transform: scaleX(1);

  //// Arrow movement
  x-transition: all 1s ease-in-out;
  animation: ani-away 1.7s infinite;

  @keyframes ani-away {
    0% {
      //right: 35px;
      opacity: 1;
    }
    50% {
      //right: 38px;
      opacity: 0.6;
    }
    100% {
      opacity: 1;
      //right: 35px;
    }
  }
}

// Messages
.action-message {
  position: absolute;
  width: 272px;
  height: 193px;
  color: $ScoreBoxWhite;
  font-size: 14px;
  flex-direction: row;
  justify-content: center;
  //left: 130px;
  align-items: center;
}

.blackboardHolder{
  position: absolute;
  top: 230px;
  width: 272px;
  height: 175px;
  right: calc(50% - 136px);
  z-index: 200;
}


// Action messages
.action-text{
  position: relative;
  width: 272px;
  color: $ScoreBoxWhite;
  line-height: 20px;
  align-items: center;
  vertical-align: middle;
  margin: 0 auto;
  margin-top: -10px;
}

.action-home{
  font-size: 14px;
  padding-left: 10px;
  margin-left: 2px;
  border-left: 3px solid #235BB5;
  display: none;
  line-height: 20px;
}

.action-away{
  font-size: 14px;
  float: right;
  padding-right: 10px;
  margin-right: 2px;
  border-right: 3px solid #D92231;
  display: none;
  line-height: 20px;
}

.top-message{
  padding-right: 1px;
  line-height: 30px;
  font-size: 15px;
  font-weight: 400;
}

.bottom-message{
  font-size: 15px;
  padding-right: 1px;
}

.message{
  width: 100%;
  height: 40px;
  line-height: 20px;
  color: rgb(10, 10, 10);
  text-align: center;
  padding-top: 94px;
  display: none;
}

// Pitch message
.words{
  border-left: 3px white solid;
  padding-left: 10px;
  line-height: 34px;
  font-size: 15px;
  margin-left: 10px;
}

#badgePic img{
  height: 30px;
  //width: 30px;
  margin-top: 2px;
}

.suspension-over-home{
  position: absolute;
  transform: rotate(130deg);
  top: 10px;
  left: 90px;
}

.suspension-over-away{
  position: absolute;
  transform: rotate(49deg);
  top: 10px;
  right: 90px;
}

.home-won{
  border-left: 3px solid #235BB5;
  padding-left: 10px;
  margin-left: 10px;
  line-height: 20px;
}

.away-won{
  border-left: 3px solid #D92231;
  padding-left: 10px;
  margin-left: 10px;
  line-height: 20px;
}

.won-message{
  font-size: 18px;
  font-weight: 400;
}

.bottom-left{
  display: block;
  position: relative;
  height: 50px;
}

// Circular animation
.empty-net-home{
  position: absolute;
  left: 19px;
  transform: rotate(180deg);
  width: 9%;
}

.empty-net-away{
  position: absolute;
  right: 20px;
  width: 9%;
}

// Rectangle animation
.goal-home{
  position: absolute;
  margin-left: 93px;
}

.goal-away{
  transform: rotate(180deg);
  margin-right: 190px;
}

.active{
  opacity: 1 !important;
}

// Commentary
.commentary{
  margin: 0 15px 0 15px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  position:relative;
  display: none;
  height: 224px;
  overflow:hidden;
  z-index: 2;
  min-width: 300px;
  .board-background{
    height: 224px;
    width: 320px;
    margin-left:0;
    margin-right:0;
    overflow:hidden;
    background-image: url('../images/skybet_icehockey_background+overlay.jpg');
  }
  ul{
    touch-action: none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 218px;
    background-color: rgba(0,0,0,0.8);
    list-style-type: none;
    font-size:14px;
    *-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: 6px;
    font-family: SkyText;
    overflow-y:scroll;
    padding-top: 1px;


    li{
      display: list-item;
      color: white;
      padding:11px 8px 11px 8px;
      font-size: 14px;
      span{
        display: inline-block;
        vertical-align: middle;
      }
      table{
        width: 100%;
        tr{
          td{
            vertical-align: middle;
            text-align: center;
          }
          td:first-child{
            width: 40px;
          }
          td:nth-child(2){
            width: 50px;
          }
          td:last-child{
            text-align: left;
          }
        }
      }
      .period{
        float: left;
      }
      .commentary-text{
        padding-left: 8px;
      }
      .time{
        float: left;
        text-align: left;
      }
      .description{
        text-align: left;
      }
      img{
        display: inline-block;
        width:20px;
        vertical-align: middle;
        margin-right: 8px;
      }
      span{
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

.view-switch{
  list-style-type: none;
  display: inline-block;
  margin:0;
  padding: 0;
  width:130px;
  position:absolute;
  right:16px;
  li{
    position:absolute;
    right: 0px;
    font-size:14px;
    cursor: pointer !important;
    cursor: hand !important;
    color:$white;
    opacity: 0.56;
    img{
      display: inline-block;
      width: 20px;
    }
    span{
      line-height: 43px;
      font-size:21px;
      margin-left:4px;
    }
    .icon-comment-icon:before {
      display: inline-block;
      top: 30px;
      color: #fff;
      opacity: 0.56;

    }
  }
}

// Stats
#stats{
  color: $ScoreBoxWhite;
}

#stats-container{
  #stats-total,
  #stats-period-one,
  #stats-period-two,
  #stats-period-three,
  #stats-overtime,
  #stats-shoot-out{
    padding:5px 5px 0 5px;
    table{
      color: $white;
      font-size:12px;
      border-collapse: separate;
      border-spacing: 2px;
      width:100%;
      td{
        background: $stats_background;
      }
      tr:nth-child(1),
      tr:nth-child(2),
      tr:nth-child(3){
        height:65px;
        td{
          table{
            width:100%;
            tr:nth-child(1){
              height:36px;
              td{
                vertical-align: middle;
              }
              td:nth-child(1){
                text-align:right;
              }
              td:nth-child(1),
              td:nth-child(3){
                width: 35%;
              }
              td:nth-child(2){
                width:30%;
                text-align: center;
                img{
                  width:50px;
                  vertical-align: middle;
                }
              }
            }
            tr:nth-child(2){
              height: 12px;
              td{
                text-align:center;
                color: $faded_text;
              }
            }
          }
        }
      }
    }
  }
}

// Bottom
.bottom{
  display: block;
  height: 52px;
  position:relative;
}

.bottom-right{
  display: block;
  height: 52px;
  position:relative;
}

.latest-action{
  display: flex;
  align-items: center;
  color:$white;
  font-size:14px;
  padding-top: 3px;
  width: calc(100% - 110px);
  position:absolute;
  padding-left:16px;
  height: 50px;
}

@media only screen and (min-width: 668px) {

  #scoreboard_holder{
    height: 533px;
  }

  .main-pitch{
    position: absolute;
    width: 272px;
    height: 193px;
    background: url("../images/icehockey_vector_rink+overlay.svg");
    background-size: 100% 100%;
    overflow: hidden;
    right: calc(50% - 136px);
  }

  .board-background{
    margin-left: 16px;
    margin-right: 24px;
    height: 225px;
    border-radius: 4px;
  }

  .teamAname,
  .teamBname{
    height: 56px;
    font-size: 20px;
    width: 100%;
    padding-left: 12px;
  }

  .right{
    display: inline-block !important;
    width: 355px;
    height: 278px;
    float: right;
  }

  .top{
    margin-right: 24px;
    height: 238px;
  }

  .bottom{
    display: block;
    position: relative;
  }

  .animations{
    display: block;
    width: 355px;
    height:225px;
    margin: 0;
  }

  .possession{
    position: absolute;
  }

  .possession-overlay-home,
  .possession-overlay-away{
    position: absolute;
  }

  .possession-overlay-home{
    display: block;
    right: 50px;

    transform: scaleX(-1);

    // Arrow movement
    x-transition: all 1s ease-in-out;
    animation: ani-away 1.7s infinite;

    @keyframes ani-away {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0.6;
      }
      100% {
        opacity: 1;
      }
    }
  }

  .possession-overlay-away{
    display: block;
    right: 3px;
    transform: scaleX(1);

    // Arrow movement
    x-transition: all 1s ease-in-out;
    animation: ani-away 1.7s infinite;

    @keyframes ani-away {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0.6;
      }
      100% {
        opacity: 1;
      }
    }
  }

  .action-text{
    position: absolute;
    font-size: 13px;
    margin-top: 188px;
    right: calc(50% - 136px);
  }

  .stat-switch{
    display: none;
  }

  .mobile-frame-info{
    display: none;
  }
  .bottom-line-break{
    display: none;
  }

  ul.tab-list li span{
    padding-bottom: 13px !important;
  }

  .commentary {
    margin: 0 23px 0px 15px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    height: 225px;
    ul{
      height:225px;
      font-size: 12px;
      background-color: rgba(0,0,0,0.8);
      margin-right: 15px;
      margin-top: 0px;
    }
    .board-background{
      margin-left:0;
      margin-right:0;
    }
  }

  .bottom{
      display: none;
  }

  .bottom-right{
    margin-right: 10px;
  }

  .bottom{
    height: 50px;
    .latest-comment{
      height: 50px;
    }
    .view-switch{
      li{
        right:8px;
        height:34px;
        line-height: 50px;
        padding-top: 1px;
        opacity: 0.56;
        ul{
          font-size: 12px;
        }
      }
    }
  }
}