#scoreboard_holder{
  background-color: #0D2051;
}

// Teams & scores
.scores{
  width: 100%;
  padding: 0 16px;
}

.points{
  float: right;
  display: inline-block;
  //width: 140px;
}

.teams{
  float: left;
  display: inline-block;
  width: calc(100% - 190px);
  font-family: 'SkyTextMedium-Regular';
}

.score-headers{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 25px 16px 16px 0px;
}

.score-headers div,
.home-team-points div,
.away-team-points div{
  color: $cloudyBlue;
  display: inline-block;
  text-align: center;
}

.label{
  font-size: 12px;
  width: 21px;
  height: 14px;
  font-family: SkyMedium, Arial, sans-serif;
}

.labels-total{
  font-size: 12px;
  width: 42px;
  margin-right: 5px;
  font-family: SkyMedium, Arial, sans-serif;
}

.score-headers .active,
.home-team-points .active,
.away-team-points .active{
  color: $yellow;
}

.puck-home,
.puck-away{
  display: none;
  vertical-align: middle;
  margin-top: 6px;
  margin-bottom: 7px;
  img{
    //display: inline-block;
    display: block;

    align-items: center;
    vertical-align: middle;
    height: 24px;
    width: 24px;
  }
}

.puck-home{
  width: 24px;
}

.away-team-points{
  float: right;
}

.home-team-points div:not(:first-child){
  height: 12px;
  font-size: 14px;
  width: 21px;
  margin-bottom: 8px;
  font-family: 'SkyTextMedium-Regular';
  vertical-align: middle;
}

.away-team-points div:not(:first-child){
  height: 12px;
  font-size: 14px;
  width: 21px;
  font-family: 'SkyTextMedium-Regular';
  vertical-align: middle;
}


.home-team-points > div:nth-of-type(2),
.away-team-points > div:nth-of-type(2){
  font-size: 21px;
  width: 42px;
  color: rgb(10, 10, 10);
  height: 42px;
  background-color: $ScoreBoxWhite;
  text-align: center;
  line-height: 42px;
  font-weight: 700;
  box-sizing: content-box;
  margin-right: 4px;
  margin-left: 10px;
  font-family: 'SkyText-Bold';
}

.teamAname,
.teamBname {
  display: block;
  font-size: 16px;
  padding-left: 9px;
  width: 100%;
  font-weight: 400;
  line-height: 43px;
  height: 42px;
  color: $ScoreBoxWhite;
  align-items: center;
  font-family: 'SkyTextMedium-Regular';
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.teamAname {
  margin-bottom: 8px;
  border-left: 2px solid #235BB5;
}

.teamBname{
  border-left: 2px solid #D92231;
}

.home-team-colour,
.away-team-colour{
  position: absolute;
  top: 38px;
  width: 2px;
  height: 42px;
}

.home-team-colour{
  background-color: $SkyBetBlue;
  left: calc(50% - 50px);
}

.away-team-colour{
  background-color: $SkyBetRed;
  right: calc(50% - 50px);
}

.home-team-score,
.away-team-score {
  height: 42px;
  width: 42px;
  color: $black;
  background-color: $ScoreBoxWhite;
  text-align: center;
  line-height: 42px;
  font-size: 21px;
  font-family: 'SkyText-Bold';
}

.top-view-switch{
  width:100%;
  z-index:100;
  margin-top: 20px;
  margin-bottom: 9px;
}

.icon-stats img{
  width: 16.1px;
  margin-left: 3px;
  vertical-align: middle;
}

.icon-info img{
  width: 16.1px;
  margin-left: 5px;
  vertical-align: middle;
}

.stat-switch{
  display:inline;
  width:100%;
  height:32px;
  font-size:14px;
  vertical-align: middle;
  padding: 8px 16px 8px 16px;
  color: $white;
  z-index:100;
  cursor: pointer ;
  cursor: hand ;
  font-weight: normal;
  opacity: 0.56;
  .icon-stats:before {
    color: $white;
    cursor: pointer ;
    cursor: hand ;
  }
  span{
    margin-left: 1px;
    font-size:20px;
    cursor: pointer ;
    cursor: hand ;
    font-weight: 400;
  }
}
.info-switch{
  display:inline-block;
  float:right;
  height:32px;
  font-size:14px;
  vertical-align: middle;
  text-align:right;
  padding: 8px 16px 8px 16px;
  color: $white;
  cursor: pointer ;
  cursor: hand ;
  opacity: 0.56;
  font-weight: 400;
  .icon-info:before {
    color: $white;
    cursor: pointer ;
    cursor: hand ;
    margin-left: 2px;
    font-size:14px;
  }
  .info-switch-small{
    cursor: pointer ;
    cursor: hand ;
  }
  .info-switch-large{
    display:none;
    cursor: pointer ;
    cursor: hand ;
    margin-right: 3px;
    margin-left:8px;
  }
}

.top-view-switch{
  .stat-switch.active{
    opacity: 1;
    .icon-stats:before {
      opacity: 1;
    }
  }
  .info-switch.active{
    opacity: 1;
    .icon-info:before {
      opacity: 1;
    }
  }
}

@media only screen and (min-width: 668px) {

  .points{
    font-size: 26px;
  }

  .home-team-points div:not(:first-child) {
    font-size: 18px;
    width: 28px;
    height: 50px;
    line-height: 39px;
  }

  .away-team-points div:not(:first-child) {
    font-size: 18px;
    width: 28px;
    height: 72px;
    line-height: 54px;
  }

  .home-team-points > div:nth-of-type(2),
  .away-team-points > div:nth-of-type(2){
    font-size: 24px;
    width: 56px;
    height: 56px;
    line-height: 56px;
    margin-bottom: 20px;
  }

  .teamAname,
  .teamBname{
    line-height: 54px;
  }

  .teamAname {
    margin-bottom: 20px;
  }


  .puck-home img{
    margin-bottom: 17px;
  }

  .puck-away img{
    margin-top: 10px;
  }

  .home-team-points{
    margin-bottom: 0;
  }

  .home-team-points div{
    width: 28px;
    font-size: 18px;
  }

  .away-team-points div{
    height: 56px;
    line-height: 56px;
    width: 28px;
    font-size: 18px;
  }

  .teams{
    width: calc(100% - 300px);
  }

  .label{
    font-size: 14px;
    width: 28px;
    height: 14px;
  }

  .labels-total{
    font-size: 14px;
    width: 56px;
    margin-right: 5px;
  }
}
